*{
    margin: unset;
    padding: unset;
}

body{
    background: url(images/bg-intro-desktop.png) rgb(255, 121, 120);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav{
    background: #FF3333;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.container{
    width: 40rem;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 8px 4px rgb(213, 100, 106);
}

.items_Price__Container{
    width: 42rem;
    margin: 2rem auto;
    border-radius: 10px;
}

#itemForm label{
    display: block;
    margin-bottom: 1rem;
}

#itemForm input{
    height: 2rem;
    text-align: center;
    border: 1px solid #bfbfbf;
}

#quantityInput, #priceInput{
    width: 10rem;
    margin-left: 2.5rem;
}

#quantityInput:focus, #priceInput:focus, #nameInput:focus{
    border: none;
    outline: 2px solid #FFB366;
}

#priceInput{
    margin-left: 4.2rem;
}

.container input{
    width: 30rem;
    border-radius: 10px;
}


#addItemButton{
    border: unset;
    background: #FFB366;
    padding: 0.5rem;
    margin-left: 7rem;
    margin-top: 1rem;
    border-radius: 10px;
    width: 10rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
}

#clearAllItemButton{
    border: unset;
    padding: 0.5rem;
    margin-left: 7rem;
    margin-top: 1rem;
    border-radius: 10px;
    width: 10rem;
    cursor: pointer;
    background-color: #FFB366;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
}


.item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: white;
    margin-bottom: 1rem;
    width: 41.5rem;
    border-left: 8px solid #FF3333;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 8px 4px rgb(213, 100, 106);
}

.checkbox{
    height: 2rem;
    width: 4.5rem;
    margin-top: 0.5rem;
}

.itemInfo{
    text-align: center;
}

.deleteButton{
    margin: 0 0 0 auto;
    border: unset;
    font-size: 0.8rem;
    width: 2.5rem;
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.76);
}

.deleteButton:active{
    margin-top: 3px;
}

button:hover{
    margin-top: 2px;
    transition: 0.5s;
    transform: translateY(2px);
}

.purchased{
    background: green;
}

.purchased p{
    text-decoration: line-through;
}

.item_buttons__container{
    width: 15rem;
    margin: auto 0;
}

.item_buttons__container button{
    border: unset;
    height: 2rem;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFB366;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.76);
}

#totalPriceDiv{
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1.5rem;
    height: 4rem;
    width: 25rem;
    padding-left:1rem;
    padding-top: 1rem;
    
}

@media only screen and (max-width:540px){
    .container{
        width: 30rem;
    }

    .item{
        margin-left: 1rem;
        margin-right: 3rem;
        width: 31.5rem;
    }
    
    .item_buttons__container button{
        padding: 0.2rem;
    }

    #nameInput{
        margin-top: 1rem;
    }

    .itemInfo{
        width: 10rem;
    }
}

@media only screen and (max-width:425px){
    .container{
        width: 20rem;
    }

    #nameInput{
        width: 11rem;
    }

    #quantityInput, #priceInput{
        width: 4rem;
    }

    .items_Price__Container{
        width: 20rem;
        margin-left: 0.7rem;
    }
    
    .item{
        width: 22rem;
    }

    .checkbox{
        height: 1rem;
        width: 2.3rem;
        margin-top: 1rem;
    }
    
    .itemInfo{
        width: 6rem;
    }
    
}

@media only screen and (max-width:375px){
    .item{
        width: 21.6rem;
        margin-left: 0;
    }
    
    .item_buttons__container button{
        padding: 0.2rem;
    }
}

@media only screen and (max-width:320px){
    .container{
        width: 16.5rem;
    }
    #nameInput{
        margin-top: 1rem;
        width: 9rem;
    }
    .item{
        margin-right: 3rem;
        width: 18rem;
    }
    
    .item_buttons__container{
        width: 10rem;
    }
    .updateItemButton{
        width: 7rem;
    }
    .itemInfo{
        width: 4rem;
    }
}